body {
    margin: 0;
    background-color: #CFB211;
}

* {
    box-sizing: border-box;
}

.ui-sortable {
    min-height: 80px;
}

.btn-delete {
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: #CFA5B4;
}


/* BOARD */

.board h1 {
    margin-left: 8px;
    text-align: center;
    text-transform: uppercase;
}

.column-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


/* COLUMN */

.column {
    order: 1;
    min-width: 440px;
    min-height: 50vh;
    background-color: #CF5311;
    margin-left: 8px;
    list-style: none;
    position: relative;
}

.column-add-card {
    cursor: pointer;
    margin: 5px 8px;
    display: block;
    padding: 5px;
    background-color: #CCC779
}


/* STYLE KARTY */

.card {
    box-sizing: border-box;
    display: block;
    height: 60px;
    margin-bottom: 5px;
    padding: 4px;
    overflow: hidden;
    position: relative;
}

.card-list {
    list-style: none;
    margin: 5px;
    padding: 10px;
    text-transform: uppercase;
}

.card-description {
    margin: 2px 0;
}

.card-placeholder {
    box-sizing: border-box;
    display: block;
    height: 60px;
    margin-bottom: 5px;
    border: 2px solid lightgrey;
    background-color: lightblue;
}

.create-column {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    background-color: #CCC779;
    cursor: pointer;
}